#header-nav{
    background-color: #999;
    border-radius: 0px;
    border:0px;
    height: 80px; 
}
.navbar-brand h2{
font-weight: bold;
color:black;
margin-top: 10px;
}

#butt{
    margin-top: 20px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus, .navbar-toggle .icon-bar:hover,.navbar-toggle .icon-bar:focus r {
  background-color: #999999;
  border: 2px solid #ddd;
  
}
.navbar-header button.navbar-toggle , .navbar-header .icon-bar{
  border: 2px solid black;
  /* background-color: #999999; */
} 
  
#menu{
    display: none;
    border: 2px black;
    text-align: center;
    border: 2px solid black;
    color: black;
    font-size: larger;
    background-color:#ffffff;
}
#menu li {
    border-bottom: 2px solid black;
}



h2{
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}
.wrapper{
    /* width: calc(33.333% - 27px) ; */
    margin:  10px;
    border: 2px solid black; 
    background-color: #999;
    position: relative;
    display: inline-block;
   
}
.title{
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    padding: 4px ;
    /* display: inline; */
    /* position: absolute;
    right: 0;
    border: 2px solid black;
    border-top: none;
    border-right: none; 
    width: 145px;*/
    
}

.body{
    padding: 0px  7px 12px 7px ;
}

